services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  webapp:
    image: tungastreek/example-express:latest
    ports:
      - "8080:8080"
    restart: unless-stopped