services:
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    environment:
      - DOCKER_API_VERSION=1.44
      - WATCHTOWER_POLL_INTERVAL=60
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  webapp:
    image: tungastreek/example-express:latest
    platform: linux/amd64
    ports:
      - "8080:8080"
    restart: unless-stopped